.additionally {
  h2 {
    font-size: 24px;
    line-height: 24px;
  }
}

.additionally__list {
  list-style: none;
}

.additionally__item-left {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additionally__item-wrapper {
  display: flex;
  justify-content: space-between;
}

.additionally__item {
  font-size: 14px;
  line-height: 14px;
}

.additionally__order {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  background-color: @green;
}

.additionally__wrapper {
  background-image: url("../img/gift-photo-mobile.jpg");
  width: 280px;
  height: 289px;

  p {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: @white;
  }
}

@media (min-width: @tablet-width) {
  .additionally__item-wrapper-top {
    display: flex;
    justify-content: space-between;
  }

  .additionally__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .additionally__wrapper-top {
    display: flex;
    justify-content: space-between;
  }

  .additionally__list {
    display: flex;
    justify-content: space-between;
  }

  .additionally__wrapper {
    display: block;
  }
}
