.advantages {
  h2 {
    font-size: 36px;
    line-height: 40px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
  }
}

.advantages__list {
  list-style: none;
}

.advantages__wrapper {
  width: 60px;
  height: 60px;
  background-color: @green;
}

.advantages__image-leaf {
  margin-top: 16px;
  margin-left: 18px;
}

.advantages__image-tub {
  margin-top: 13px;
  margin-left: 15px;
}

.advantages__image-eat {
  margin-top: 15px;
  margin-left: 18px;
}

.advantages__image-alarm {
  margin-top: 13px;
  margin-left: 14px;
}

@media (min-width: @tablet-width) {
  .advantages {
    h2 {
      font-size: 60px;
      line-height: 60px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
