.before-after {
  background-color: @gray__before-after;

  h2 {
    font-size: 36px;
    line-height: 40px;
  }

  &__paragraph-top {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
  }

  &__list-top {
    list-style: none;
  }

  &__paragraph-bottom {
    font-size: 14px;
    line-height: 20px;
  }

  &__item-paragraph-top {
    font-size: 24px;
    line-height: 24px;
  }

  &__item-paragraph-bottom {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
  }

  &__list-bottom {
    list-style: none;
  }

  &__item-bottom {
    font-size: 16px;
    line-height: 20px;
  }
}
