.catalog {
  h1 {
    font-size: 36px;
    line-height: 36px;
  }
}

.catalog__list {
  list-style: none;
}

.catalog__link {
  text-decoration: none;

  h3 {
    font-size: 16px;
    line-height: 20px;
    color: @black;
  }
}

.catalog__table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__order {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  background-color: @green;
}

.catalog__paragraph {
  font-size: 12px;
  line-height: 16px;
}

.catalog__show-all {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: @gray__footer;
  background-color: @gray;
}

@media (min-width: @tablet-width) {
  .catalog {
    h1 {
      font-size: 60px;
      line-height: 60px;
    }
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .catalog__link {
    h3 {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .catalog__table {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog__paragraph {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
