.form-program {
  &__list,
  &__list-mass {
    list-style: none;
  }

  &__label,
  &__input,
  &__label-mass {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__input-name {
    width: 213px;
    height: 45px;
    padding-left: 16px;
  }

  &__input-weight {
    width: 188px;
    height: 45px;
    padding-left: 16px;
  }

  &__input-age {
    width: 156px;
    height: 45px;
    padding-left: 16px;
  }
}
