.form-request {
  &__button {
    color: @white;
    background-color: @green;
    border: none;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    line-height: 20px;
  }
}
