.page-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page-footer__wrapper-logo {
  text-align: center;
  margin-top: 39px;
}

.page-footer__wrapper-link {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.page-footer__wrapper-list {
  margin-top: 32px;
  padding: 24px 0;
  border-top: 1px solid @gray-border-categories;
  border-bottom: 1px solid @gray-border-categories;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.copyright__link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: @gray__footer;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
  }
}
