.page-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page-footer__wrapper-link {
  display: flex;
  justify-content: space-between;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.copyright__link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: @gray__footer;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
  }
}
