.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.site-list__item {
  padding: 25px 0;
  border-bottom: 1px solid @gray-border-header;
  min-width: 320px;
  text-align: center;

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: @black;
  }
}

.site-list__item:first-child {
  border-top: 1px solid @gray-border-header;
  margin-top: 17px;
}

@media (min-width: @desktop-width) {
  .site-list__item {
    a {
      color: @white;
    }
  }
}
